<nav id="global-navbar" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                Wagner Pictures
            </div>
            <div class="col-lg-8 d-flex justify-content-center">
                <a href="#" class="mx-1 p-2">Home</a>
                <a href="#" class="mx-1 p-2">Portfolio</a>
                <a href="#" class="mx-1 p-2">Über</a>
                <a href="#" class="mx-1 p-2">Kontakt</a>
            </div>
            <div class="col-lg-2">
                Social Media
            </div>
        </div>
    </div>
</nav>