// assets/styles/global.scss

// IBM Plex
//======================================================================================================================

// Font Prefix
$font-prefix: "~@ibm/plex";

// Font Collection
@import "~@ibm/plex/scss/serif/index";
@import "~@ibm/plex/scss/sans/index";
@import "~@ibm/plex/scss/mono/index";
@import "~bootstrap-icons";


$font-family-base:            'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-sans-serif:      'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-monospace:       'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$font-size-base: .85rem;
$line-height-base: 1.4;
$font-weight-base:            300;
$font-weight-bold:            700;

// Basic system
@import "~bootstrap/scss/functions";


// Optional variable overrides here
$custom-color: #df711b;
$red: #d44457;
$custom-theme-colors: (
        "custom": $custom-color
);

$nav-link-color: rgba(255,255,255,.6);
$nav-link-hover-color: rgba(255,255,255,1);;
$nav-link-font-weight: 300;

$card-border-width: 0;
$card-border-radius: 0;

// Variables come next
@import "~bootstrap/scss/variables";

$body-bg: #191919;
$body-color: $white;
  // Optional Sass map overrides here
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Followed by our default maps
// @import "maps";

.column{display: none!important;}
.show {display: block!important;}
.btn.active {
  background-color: #666;
  color: white;
}
#myBtnContainer > .btn{color: transparentize($white,.4)!important;}

.nav-link{
  opacity: .6;
}

.nav-link:hover{
  opacity: 1;
  -webkit-transition: opacity .2s cubic-bezier(0.79, 0.33, 0.14, 0.53);
  transition: opacity .2s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

li.current{
  a{
    opacity: 1!important;
  }
}


li.current{
  a.list-group-item-action{
    font-weight: bolder!important;
    color: $dark;
  }
}

#global-navbar,#local-navbar{
  color: rgba(255,255,255,.6);
}

#global-navbar{
  font-size: 16px;
  height: 72px!important;
  min-height: 72px!important;
}

#local-navbar{
  font-size: 14px;
  background-color: #242424;
}

#legal{
  background-color: #0e0e0e;
}

#copyright{
  background-color: #000;
}

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

.shadow-hover{
  -webkit-transition: all .3s cubic-bezier(0.79, 0.33, 0.14, 0.53);
  transition: all .3s cubic-bezier(0.79, 0.33, 0.14, 0.53);
  border: none;
  box-shadow: 0 0 .25rem transparentize(map-get($theme-colors,"dark"),.9);
  position: relative;

  .card-img-overlay{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: calc(0.3rem - 1px);
  }

  img {
    filter: grayscale(1) brightness(.6);
  }

  .card-body{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 3rem;
    color: $white;
  }

  .card-icon-bar{
    position: absolute;
    right:0;
    top: 1em;
    opacity: 0;
  }
}





.shadow-hover:hover,.shadow-hover:active{
  box-shadow: 0 0 .5rem transparentize(map-get($theme-colors,"dark"),.6);
  img{
    animation-duration: .3s;
    animation-name: animation-greyscale!important;
    animation-fill-mode: forwards;
  }
  .card-body,.card-img-overlay{
    opacity: 0.4!important;
    animation-duration: .3s;
    animation-name: animation-opacity;
    animation-fill-mode: forwards;
  }

  .card-icon-bar{
    animation-duration: .3s;
    animation-name: animation-fade-in;
    animation-fill-mode: forwards;
  }
}


@keyframes animation-greyscale {
  from {
    filter: grayscale(1) brightness(.6);
  }

  to {
    filter: grayscale(0) brightness(1);
  }
}


@keyframes animation-opacity {
  from {
    opacity: .6;
    top: 0;
    z-index: 5;
  }

  to {
    opacity: 0;
    top: 0;
    z-index: 5;
  }
}

@keyframes animation-fade-in {
  from {
    opacity: 0;
    top:1em;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
