<!DOCTYPE html>
<html lang="de" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
        <title>{% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#bc2a2a">
        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('global') }}
        {% endblock %}
        {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}
    </head>
    <body class="d-flex flex-column h-100">
        {% block content %}{% endblock %}
    </body>
</html>
